@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

body {
  background-color: #f3eedd;
  margin: 0;
  font-family: 'Amatic SC', cursive;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #3a3a3a;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
  width: 80px;
  transition: transform 0.3s ease-in-out;
  float: left;
}

img:hover {
  transform: scale(1.1);
}

.header h1 {
  margin: 0;
  color: #0057a6;
}

h1 {
  color: #ec4d37;
  margin: 10px 0;
}

html {
  text-align: center;
  border: 5px solid #f4cb52;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #009b48;
  background-color: #f4cb52;
  padding: 10px;
  font-weight: bold;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}

.container {
  margin-top: 20px;
}

h2 {
  color: #0057a6;
}

h3#footer {
  color: #009b48;
}

h3,
h4,
h5 {
  color: #f49f28;
}

a {
  color: #0057a6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  color: #f49f28;
  font-size: 20px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  color: #0057a6;
}

.card {
  background: #f4cb52;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 20px;
}

label {
  font-weight: bold;
}

.form-group {
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #f49f28;
  border-color: #009b48;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #ec4d37;
  border-color: #0057a6;
}

.header {
  text-align: center;
  background-color: #f4cb52;
}

