<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Dr. Sillystringz's Factory</title>
  <link rel="stylesheet" href="~/css/styles.css">
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
  <a href="/">
  <img src="~/img/silly.png" alt="Dr. Sillystringz's Factory" class="img-fluid" />
  </a>
  @await Html.PartialAsync("_Header")
  @RenderBody()
</body>

</html>